.env
docker
redis
logs

grafana/grafana/**
!grafana/grafana/.gitkeep

influxdb/influxdb/**
!influxdb/influxdb/.gitkeep

mysql/mysql/**
!mysql/mysql/.gitkeep

jenkins/jenkins_home/**
!jenkins/jenkins_home/.gitkeep
